@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import 'antd/dist/antd.css'; */

* {
  font-family: 'THICCCBOI', sans-serif;
}

@layer components {
  .sidebar {
    @apply flex fixed z-30 top-0 left-0 w-full h-full lg:w-auto lg:static -translate-x-full lg:translate-x-0 transition-all duration-300;
  }

  .sidebar.show {
    @apply translate-x-0;
  }

  .sidebar-container {
    @apply min-w-[15.875rem] bg-white shadow-1;
  }

  .sidebar-overlay {
    @apply lg:hidden flex-1 bg-black/20;
  }

  .sidebar a {
    @apply text-primary-light-1 rounded-lg p-3 hover:bg-primary-light-3 hover:text-primary-base;
  }

  .sidebar a.active {
    @apply bg-primary-light-3 text-primary-base;
  }

  .btn-icon {
    @apply text-primary-base hover:text-primary-light-1 transform transition-all duration-200 active:scale-105;
  }

  .btn-outline-primary {
    @apply py-3 px-4 rounded-lg bg-white border-2 border-primary-base text-primary-base hover:bg-primary-base hover:text-white;
  }

  .btn-primary {
    @apply py-3 px-4 rounded-lg bg-primary-base border-2 border-primary-base text-white hover:bg-primary-base/90 hover:text-white;
  }

  .badge-danger {
    @apply flex items-center justify-center rounded-full h-6 w-6 min-w-[1.5rem] bg-danger-light-2 text-danger-base;
  }

  .remove-close .ant-modal-close-icon {
    @apply hidden;
  }

  .car-form .ant-row {
    @apply block;
  }

  .car-form .ant-form-item {
    @apply mb-0;
  }
}

.ant-table-wrapper {
  overflow: auto;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .ant-table-wrapper {
    white-space: nowrap;
  }
}

.ant-table-thead .ant-table-cell {
  background-color: #1f3086 !important;
  color: #fff !important;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'THICCCBOI', sans-serif;
}

.ant-table-thead .ant-table-cell::before {
  display: none;
}

.ant-table-thead .ant-table-cell .ant-table-column-sorter,
.ant-table-thead .ant-table-cell:hover .ant-table-column-sorter {
  color: #fff;
}

.ant-table-tbody .ant-table-cell {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'THICCCBOI', sans-serif;
  max-width: 17rem;
}

.ant-tabs-tab {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ant-tabs-tab .ant-tabs-tab-btn {
  color: #575757 !important;
  font-weight: 400;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2d46c4 !important;
}

.ant-tabs-ink-bar {
  background-color: #2d46c4 !important;
}

.d-none {
  display: none !important;
}

/* == */

.margin-b-20 {
  margin-bottom: 20px;
}

.ant-btn-primary {
  background-color: #2d46c4;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  min-width: 5.1875rem;
  min-height: 2.5rem;
}
.ant-form-item {
  margin-bottom: 15px;
}
.ant-btn-primary:hover {
  background-color: #566cdc !important;
}
.outline-btn,
.outline-btn:hover {
  min-width: 110px;
  width: auto;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: 2px solid #2d46c4;
  background: #fff;
  color: #2d46c4;
}

.aspect-video .ant-image,
.aspect-video .ant-image-mask,
.aspect-video .ant-image-img {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}

.ant-image-preview-img {
  border-radius: 1rem;
}

.ant-upload-select {
  width: 100%;
}

.ant-upload-select .ant-btn {
  min-height: 2.9375rem;
}
